.brands-content-section {
  padding: 50px 0 70px;
  background-size: cover;
  background-position: center;

  &.brands-list-section {
    p {
      margin: 20px 0 40px;
    }
  }

  .brands-list {
    img {
      max-width: 130px;
      max-height: 90px;
      margin-bottom: 10px;
      transition: .2s all ease;

      &:hover {
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.1);
      }

    }
  }

  .brands-overview-container {

    .grid-sizer, .item {
      width: 25%;
    }

    .gutter-sizer {
      width: 1%;
    }

    .item {
      //overflow: hidden;
      padding: 5px;
      transition: .2s all ease;
      //border: 5px solid $body-bg;

      &.item--width2 {
        width: 50%;

        @media screen and (max-width: $screen-xs-max) {
          width: 100%;
        }
      }

      @media screen and (max-width: $screen-xs-max) {
        width: 100%;
      }

      a {
        text-decoration: none;
        @include custom-link(#fff);

        display: block;
        width: 100%;
        overflow: hidden;
        height: 100%;
      }

      &:hover {
        img {
          backface-visibility: hidden;
          transform: translateZ(0) scale(1.05);
        }
      }

      img {
        width: 100%;
        transition: .2s all ease;
      }

    }

    .item-text {
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 20px;
      font-size: 19px;
      line-height: 24px;

      .title-underlined {
        margin: 0;
        text-align: left;

        &:after {
          width: 30%;
          bottom: -5px;
        }
      }
    }
  }

}