.history-content {
  background-size: cover;
  background-position: center;
  color: #fff;

  .content-title {
    font-size: 35px;
    text-transform: uppercase;
  }

  .embed-responsive {
    margin: 50px 0 50px;
  }

  h1 {
    display: inline-block;
    font-weight: 300;

    span {
      display: block;
      margin-top: 10px;
    }
  }
}