.history-content {
  background-size: cover;
  background-position: center;

  .content-title {
    font-size: 35px;
    text-transform: uppercase;
  }

  .embed-responsive {
    margin: 50px 0 50px;
  }

  h1 {
    font-weight: 300;
  }
}