.investors-scrollspy-ul {
  margin: 40px 0 50px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $body-bg;
  bottom: auto!important;
  z-index: 100;

  &.is_stuck {
    position: fixed!important;
    top: 0!important;
    margin: 0;
    padding: 10px 0;
  }

  li {
    display: inline-block;
    border-right: 1px solid $hr-border;
    font-size: 13px;

    &:last-child {
      border: none;
    }

    a {
      padding-top: 0;
      padding-bottom: 0;
      font-weight: bold;

      @include custom-link($gray-dark)
    }

    &.active {
      a {
        @include custom-link($brand-success)
      }
    }

    @media screen and (max-width: $screen-md-max) {
      font-size: 10px;
      
      a {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.investors-dropdown-nav-mobile {
  text-transform: uppercase;

  &.is_stuck {
    position: fixed!important;
    z-index: 10;
    top: 0 !important;

    .dropdown-menu {
      position: fixed;
      top: 33px;
      left: 15px!important;
    }
  }
}

.investors-content-section {

  .select {
    border: 1px solid $hr-border;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding: 20px 30px;

    .select {
      width: 100px;
      float: right;
    }

    .card {
      font-weight: 300;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    padding: 20px 15px;
  }

  @include custom-select(#fff, 45px, #000, $brand-success, #000);

}

.announcements {
  a {
    text-decoration: none;
  }
  @media screen and (max-width: $screen-xs-max) {
    .card {
      margin-bottom: 30px;
    }
  }
}

.investors-data {
  font-weight: bold;

  li {
    margin-right: 20px;
  }
  
  @media screen and (max-width: $screen-xs-max) {
    @include clearfix();

    li {
      width: 50%;
      float: left;
      margin: 0;
    }
  }

  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

    li {
      margin-right: 10px;
    }

    h5 {
      font-size: 14px;

      span {
        font-size: 16px;
        padding-left: 5px;
      }
    }
  }

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    h5 {
      font-size: 16px;

      span {
        font-size: 24px;
        padding-left: 10px;
      }
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    h5 {
      font-size: 16px;

      span {
        font-size: 34px;
        padding-left: 10px;
      }
    }
  }
}

.upcoming-events {
  .col-sm-4 {
    padding-right: 50px;
  }
}

.reports-section {
  .media-body {
    padding-left: 30px;
  }

  b {
    font-weight: 500;
  }

  ul {
    li {
      line-height: 29px;

      a {
        @include custom-link($gray-dark)
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    .left, .right {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .left {
      padding-right: 50px;
    }

    .right {
      padding-left: 50px;
    }

    .right {
      border-left: 1px solid $hr-border;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    img {
      display: none;
    }

    .media-left, .media-body {
      padding: 0;
    }
  }

}

.benefits-section {
  background-size: cover;
  color: #fff;
  padding: 90px 0 70px;
  background-color: $brand-violet;

  p {
    font-size: 14px;
    font-weight: 300;
  }

  .content-title {
    margin-top: 0;
    font-size: 25px;
  }
  
}

.pdf-links {
  font-size: 16px;
  font-weight: 300;

  li {
    line-height: 24px;
    margin-bottom: 10px;

    a {
      @include custom-link($gray-dark);
    }
  }

  .investors-content-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h4 {
    font-size: 16px;
    line-height: 24px;
  }
}

.directors {

  .card {
    font-weight: 300;

    &.card-violet {
      background-color: #5e5e84;

      a {
        @include custom-link($brand-success)
      }
    }

    h3 {
      margin-top: 0;
    }

  }
}