@media screen and (max-width: $screen-xs-max) {
  .offcanvas-menu {
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    opacity: 0;
    z-index: -1;
    transition: .2s all ease;

    .offcanvas-body {
      padding: 55px 30px 30px;
      overflow-y: auto;
      height: 100%;
    }

    &.offcanvas-open {
      z-index: 100;
      opacity: 1;
    }

  }

  body {
    &.offcanvas-open {
      overflow: hidden;
    }
  }

  .offcanvas-container {
    transition: .2s all ease;

    &.offcanvas-open {
      transform: translate3d(-210px, 0, 0);
      overflow: hidden;
      position: fixed;

    }
  }

  .offcanvas-open {

    .navbar-default .navbar-toggle .icon-bar {
      transition: .2s all ease;

      &:nth-child(2) {
        display: none;
      }
      &:nth-child(4) {
        transform: rotate(45deg);
        margin: -2px 0 0 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }

    #main-nav {
      position: relative;
      z-index: 101;
      height: 66px;
    }
  }
}