footer {
  background-color: #000;
  color: #959595;
  padding: 35px 0;
  text-transform: uppercase;

  ul {
    margin: 0;

    ul {
      @media screen and (min-width: $screen-md-min) {
        float: right;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    text-align: center;
  }

  @media screen and (max-width: $screen-md-max) {
    font-size: 10px;
  }
}