.gray-bg {
  background-color: #ededed;
}

.content-section {
  padding: 35px 0 50px;
}

@media screen and (min-width: $screen-md-min) {
  .no-p-r-sm-up {
    padding-right: 0!important;
  }

  .no-p-l-sm-up {
    padding-left: 0!important;
  }
}

.section-margin {
  margin-bottom: 25px;
}

.text-violet {
  color: $brand-text-violet!important;
}

.form-control {
  border: none;
}